name: Env and Secrets
on:
  push:
    branches:
      - master
  workflow_dispatch:
env:
  PORT: 8001
jobs:
  start-server:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: install-dependents-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm ci
      - name: Run server
        run: npm run dev & npx wait-on http://localhost:${{ env.PORT }} --timeout 30000
